@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #000;
  color: #fff;
  padding: 20px 50px;
}

.navbarTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search{
  display: flex;
  align-items: center;
  background-color: #808080;
  padding: 10px 20px;
  border-radius: 10px;
  
}

.serchInput{
  border: none;
  background-color: transparent;
  
}

.serchInput::placeholder{
  color: #d3d3d3;
}

.sneaker-logo{
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}

.limtedOffer {
  font-size: 20px;
  border-bottom: 2px solid #008000;
  cursor: pointer;
}


.navbarBottom{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menuItem{
  margin-right: 100px;
  cursor: pointer;
  color: #d3d3d3;
  font-weight: 400;
}

/* slider */

.slider{
  background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  clip-path: polygon(1% 0%, 99% 0%, 100% 99%, 0% 80%);
  overflow: hidden;
  
  
}

.sliderWrapper{
  display: flex;
  width: 500vw;
  transition: all 2s ease-in-out;
  
}

.sliderItem{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.sliderImage{
  width: 700px;
  height: 800px;
  z-index: 1;
}


.sliderbg{
  padding-top: 50px;
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}


.sliderTitle{
  position: absolute;
  top: 10%;
  right: 10%;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  z-index: 1;
}

.sliderprice{
  position: absolute;
  top: 10%;
  left: 10%;
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  border: 1px solid #808080;
  padding: 0px 10px ;
  z-index: 1;
}

.buybutton{
  position: absolute;
  top: 50%;
  right: 10%;
  color: #fff;
  border: 1px solid #808000;
  background-color: #000;
  font-weight: 700;
  font-size: 40px;
  border-radius: 2px;
  z-index: 1;
  cursor: pointer;
}

.buybutton:hover{
  background-color: #fff;
  color: #000;
}

.sliderItem:nth-child(1) .sliderbg{
  background-color: #369e62; 
}

.sliderItem:nth-child(2) .sliderbg{
  background-color: rgb(135, 79, 191); 
}

.sliderItem:nth-child(3) .sliderbg{
  background-color: #008080; 
}

.sliderItem:nth-child(4) .sliderbg{
  background-color: #6495ed;
}

.sliderItem:nth-child(5) .sliderbg{
  background-color: #ffff00; 
}

.sliderItem:nth-child(1) .sliderprice{
  background-color: #369e62; 
}

.sliderItem:nth-child(2) .sliderprice{
  background-color: rgb(135, 79, 191); 
}

.sliderItem:nth-child(3) .sliderprice{
  background-color: #008080; 
}

.sliderItem:nth-child(4) .sliderprice{
  background-color: #6495ed;
}

.sliderItem:nth-child(5) .sliderprice{
  background-color: #ffff00; 
}

/* features */

.features{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon{
  width: 50px;
  height: 50px;
}

.featureTittle{
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc{
  color: #808000;
  font-size: 14px;
  width: 50%;
  height: 50%;
  
}

/* Product */

.product{
  height: 120vh;
  background-color: #f5f5f5;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  /* overflow: hidden; */
}

.productImg{
  width: 50%;
}

.productDetails{
  position: absolute;
  top: 15%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle, .ProductPrize{
  font-size: 60px;
  font-weight: 600;
}

.productDesc{
  font-size: 24px;
  color: #808080;
}

.colors, .sizes{
  display: flex;
  margin-bottom: 20px;
}

.color{
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: #000;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child{
  background-color: #00008b;
}

.size{
  padding: 5px 20px;
  border: 1px solid #000;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;

}

.productButton{
  float: right;
  padding: 20px 40px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover{
  background-color: #fff;
  color: #000;
}


