@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

nav{
  background-color: #000;
  color: #fff;
  padding: 20px 50px;
}

.navbarTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .search{
  display: flex;
  align-items: center;
  background-color: #808080;
  padding: 10px 20px;
  border-radius: 10px;
 
  
}

.searchInput{
  border: none;
  border-style: none;
  background-color: transparent;
  
}

.searchInput::placeholder{
  color: #d3d3d3;
} */

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  
}
.input-search{
  height: 30px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #808080;
  padding-right: 50px;
  color:#fff;
  
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.sneaker-logo{
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}

.sneaker-logo:hover{
  background-color: #ffff00;
  transition: 1s ease-in-out;
  box-shadow: 11px 13px 22px -3px rgba(0,0,0,0.56);

}

.limtedOffer {
  font-size: 20px;
  border-bottom: 2px solid #008000;
  cursor: pointer;
}

.limtedOffer:hover{
  padding: 0px 10px;
  border-radius: 4px;
  background-color: #ffff00;
  color: #000;
  transition: 1s ease-in-out;
  box-shadow: 11px 13px 22px -3px rgba(0,0,0,0.56);
}


.navbarBottom{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.menuItem{
  margin-right: 100px;
  cursor: pointer;
  color: #d3d3d3;
  font-weight: 400;
}
.menuItem:hover{
  color: yellowgreen;
  transition: 0.5s ease-in-out;
}
/* slider */

.slider{
  background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  clip-path: polygon(1% 0%, 99% 0%, 100% 99%, 0% 80%);
  overflow: hidden;
  
  
}

.sliderWrapper{
  display: flex;
  width: 500vw;
  transition: all 2s ease-in-out;
  
}

.sliderItem{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.sliderImage{
  width: 700px;
  height: 800px;
  z-index: 1;
}


.sliderbg{
  padding-top: 50px;
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  
}


.sliderTitle{
  position: absolute;
  top: 10%;
  right: 10%;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  z-index: 1;
}

.sliderprice{
  position: absolute;
  top: 10%;
  left: 30%;
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  /* border: 1px solid #808080; */
  padding: 0px 10px ;
  z-index: 1;
}

.buybutton{
  position: absolute;
  top: 50%;
  right: 10%;
  color: #fff;
  border: 1px solid #808000;
  background-color: #000;
  font-weight: 700;
  font-size: 40px;
  border-radius: 2px;
  z-index: 1;
  cursor: pointer;
}

.buybutton:hover{
  background-color: #fff;
  color: #000;
}

.sliderItem:nth-child(1) .sliderbg{
  background-color: #369e62; 
}

.sliderItem:nth-child(2) .sliderbg{
  background-color: rgb(135, 79, 191); 
}

.sliderItem:nth-child(3) .sliderbg{
  background-color: #008080; 
}

.sliderItem:nth-child(4) .sliderbg{
  background-color: #6495ed;
}

.sliderItem:nth-child(5) .sliderbg{
  background-color: #ffff00; 
}

.sliderItem:nth-child(1) .sliderprice{
  background-color: #369e62; 
}

.sliderItem:nth-child(2) .sliderprice{
  background-color: rgb(135, 79, 191); 
}

.sliderItem:nth-child(3) .sliderprice{
  background-color: #008080; 
}

.sliderItem:nth-child(4) .sliderprice{
  background-color: #6495ed;
}

.sliderItem:nth-child(5) .sliderprice{
  background-color: #ffff00; 
}

/* features */

.features{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon{
  width: 50px;
  height: 50px;
}

.featureTittle{
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc{
  color: #808000;
  font-size: 14px;
  width: 50%;
  height: 50%;
  
}

/* Product */

.product{
  height: 110vh;
  background-color: #f5f5f5;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
 
}

.payment{
  width: 600px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 11px 13px 22px -3px rgba(0,0,0,0.56);
  box-shadow: 11px 13px 22px -3px rgba(0,0,0,0.56);
  /* -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3); */
}

.payTitle{
  font-size: 24px;
  color: #d3d3d3;
}

label{
  font-size: 16px;
  font-weight: 400;
}

.payInput{
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid #808000;
}

.payInput::placeholder{
  color:  rgb(163,163,163);
}

/* card Info */

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo{
  display: flex;
  justify-content: space-between;
}

.sm{
  width: 30%;
}

.payButton{
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImg{
  width: 50%;
}

.productDetails{
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle, .ProductPrice{
  font-size: 60px;
  font-weight: 600;
}

.productDesc{
  font-size: 24px;
  color: #808080;
}

.colors, .sizes{
  display: flex;
  margin-bottom: 20px;
}

.color{
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: #000;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child{
  background-color: #00008b;
}

.size{
  padding: 5px 20px;
  border: 1px solid #000;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;

}

.productButton{
  float: right;
  padding: 20px 40px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover{
  background-color: #fff;
  color: #000;
}

.gallery{
  padding: 50px;
  display: flex;
}

.galleryItem{
  flex: 1;
  padding: 50px;
}

.galleryImg{
  width: 100%;
}

.gallery, .galleryTitle{
  font-size: 20px;
  font-weight: 400;
}

/* New Season */

.newSeason{
  display: flex;
  margin-top: 100px;
  padding: 0px 20px;
}

.nsItem{
  flex: 1;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.nsImg{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.nsTitle{
  font-size: 40px;
}

.nsButton{
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 5px 19px -4px rgba(0,0,0,0.7);
}

/* Footer */

footer{
  display: flex;
}

.footerLeft{
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle{
  font-size: 16px;
}

.fList{
  padding: 0;
  list-style: none;
}

.fListItem{
  margin-bottom: 10px;
  color: #808000;
  cursor: pointer;
}

/* footer right */

.footerRight{
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput{
  padding: 5px;
}

.fButton{
  padding: 5px 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.fIcons{
  display: flex;
}

.fIcon{
  width: 26px;
  height: 26px;
  margin-right: 10px;
  cursor: pointer;
}

.copyright{
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width:480px) {
  nav{
    padding: 20px;
  }

  .search{
    display: none;
  }

  .navbarBottom{
    flex-wrap: wrap;
  }

  .menuItem{
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
  }

  .slider{
    clip-path: none;
  }

  .sliderImage{
    width: 90%;
  }

  .sliderbg{
    width: 100%;
    height: 100%;
  }

  .sliderTitle{
    display: none;
  }

  .sliderprice{
    top: unset;
    bottom: 0;
    left: 0;
    background-color: #808000;
  }

  .buybutton{
    right: 0;
    top: 0;
  }

  .features{
    flex-direction: column;
  }

  .product{
    
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productImg{
    width: 80%;
  }
  
  .productDetails{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle{
    font-size: 50px;
    margin: 0;
  }

  .gallery{
    display: none;
  }

  .newSeason{
    flex-direction: column;
  }

  .nsItem:nth-child(2){
    padding: 50px;
  }

  footer{
    flex-direction: column;
    text-align: center;
    align-items: center;
  
  }

  .footerLeft{
    padding: 20px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment{
    width: 90%;
    padding: 20px;
  }
}